/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic typography styles */
body {
  font-family: Arial;
  font-size: 16px;
  height: 100vh;
  background: linear-gradient(147deg, #131419 0%, #0A0C6D 100%) no-repeat;
}


/* Basic layout */
.container {
  max-width: 1225px;
  margin: 0px auto;
}

.header {
  background: #eee;
  padding: 20px;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Forms */
input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: #4447E2;
  cursor: pointer;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #1C1C24;
    border-top: 2px solid #262631;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright{
    color: #5F5F6F;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #1C1C24;
    border-bottom: 2px solid #262631;
    height: 82px;
    display: flex;
    align-items: center;
}

.logo span{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-left: 15px;
}

.logo {
    display: flex;
    align-items: center;

}

.block-title{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 115.385% */
    margin-top: 50px;
}

.input-link{
    height: 50px;
    border-radius: 15px;
    background: #2D2D3A;
    width: 100%;
    margin-top: 35px;
    padding-left: 20px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    outline: none;
}
.input-link::placeholder{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px; /* 125% */
    opacity: 0.3;
}

.block-parsing {
    margin-top:25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-parsing-name{
    display: flex;
    align-items: center;

    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.sub-block-parsing{
    margin-top: 20px;
    border-radius: 15px;
    background: #2D2D3A;
    height: 262px;
    padding: 10px;
}

.counter{
    float: right;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-between;
}
.buttons .button:first-child{
    margin-right: 35px;
}
.button{
    border-radius: 15px;
    background: #1314194D;
    height: 43px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    display: flex;
    align-items: center;
    padding: 10px;
    width: 216px;
}
.button img{
    margin-right: 30px;
}
.button span{
    text-align: center;
}

